<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/owl.carousel.min.css">
    <link rel="stylesheet" href="style/magnific-popup.css">
    <link rel="stylesheet" href="style/wi-feedback.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/wi-feedback.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/app.js"></script>
    <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=jQuery.fn.lpMapInit" type="text/javascript"></script>
</head>

<body>
    <header>
        <div class="container">
            <ul>
                <li><a href="#slideShow">slide show</a></li>
                <li><a href="#services">services</a></li>
                <li><a href="#portfolio">portfolio</a></li>
                <li><a href="#prices">prices</a></li>
                <li><a href="#contacts">contacts</a></li>
            </ul>
        </div>
    </header>


    <section id="slideShow" data-offset="54">
        <div class="container">
            <div class="lp-content">
                <div class="lp-slider1 owl-carousel">
                    <img src="img/slide1.jpg" alt="service 1">
                    <img src="img/slide2.jpg" alt="service 2">
                    <img src="img/slide3.jpg" alt="service 3">
                    <img src="img/slide1.jpg" alt="service 1">
                    <img src="img/slide2.jpg" alt="service 2">
                    <img src="img/slide3.jpg" alt="service 3">
                </div>
            </div>
        </div>
    </section>
    <section id="services" data-offset="44">
        <div class="container">
            <div class="lp-content">
                <h2>services</h2>
                <div class="lp-tabs">    
                    <div data-tab-title="Service 1">
                        <p class="text-center"><strong>Service 1</strong></p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui.</p>
                        <p class="text-center">
                            <a href="#lp-srv1" class="btn btn-primary lp-mfp-inline">Details...</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Service 1">Order</span>
                        </p>
                    </div>    
                    <div data-tab-title="Service 2">
                        <p class="text-center"><strong>Service 2</strong></p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui..Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui.</p>
                        <p class="text-center">
                            <a href="#lp-srv2" class="btn btn-primary lp-mfp-inline">Details...</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Service 2">Order</span>
                        </p>
                    </div>    
                    <div data-tab-title="Service 3">
                        <p class="text-center"><strong>Service 3</strong></p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui.</p>
                        <p class="text-center">
                            <a href="#lp-srv3" class="btn btn-primary lp-mfp-inline">Details...</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Service 3">Order</span>
                        </p>
                    </div>    
                    <div data-tab-title="Service 4">
                        <p class="text-center"><strong>Service 4</strong></p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam laboriosam voluptatum facere blanditiis error omnis soluta, neque voluptatem animi? Eum natus incidunt dolorem inventore ab porro provident. Culpa, qui.</p>
                        <p class="text-center">
                            <a href="#lp-srv4" class="btn btn-primary lp-mfp-inline">Details...</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Service 4">Order</span>
                        </p>
                    </div>    
                </div>    
            </div>
        </div>
    </section>
    <section id="portfolio" data-offset="44">
        <div class="container">
            <div class="lp-content">
                <h2>portfolio</h2>
                <div class="lp-slider2 owl-carousel lp-gallery">
                    <a href="/img/slide1.jpg">
                        <img src="/img/slide1.jpg" alt="Service 1">
                    </a>
                    <a href="/img/slide2.jpg">
                        <img src="/img/slide2.jpg" alt="Service 2">
                    </a>
                    <a href="/img/slide3.jpg">
                        <img src="/img/slide3.jpg" alt="Service 3">
                    </a>
                    <a href="/img/slide1.jpg">
                        <img src="/img/slide1.jpg" alt="Service 1">
                    </a>
                    <a href="/img/slide2.jpg">
                        <img src="/img/slide2.jpg" alt="Service 2">
                    </a>
                    <a href="/img/slide3.jpg">
                        <img src="/img/slide3.jpg" alt="Service 3">
                    </a>
                    <a href="/img/slide1.jpg">
                        <img src="/img/slide1.jpg" alt="Service 1">
                    </a>
                    <a href="/img/slide2.jpg">
                        <img src="/img/slide2.jpg" alt="Service 2">
                    </a>
                    <a href="/img/slide3.jpg">
                        <img src="/img/slide3.jpg" alt="Service 3">
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section id="prices" ng-app="lpApp" ng-controller="lpPriceCtrl" data-offset="44">
        <div class="container">
            <div class="lp-content">
                <h2>prices</h2>
                <p ng-hide="prices || reqStatus || reqStatusText" class="lp-prices-loader">
                    <i class="fas fa-spinner"></i>
                </p>
                <table ng-show="prices" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th ng-click="sortSet('name')">
                                <span>Наименование</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'name'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'name' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'name' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price')">
                                <span>Цена</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('discount')">
                                <span>Скидка</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'discount'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'discount' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'discount' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price2')">
                                <span>Цена со скидкой</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price2'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price2' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price2' && sortRev"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="price in prices | orderBy:sortBy:sortRev">
                            <td>{{$index + 1}}</td>
                            <td>
                                <span>{{price.name}}</span>
                                <i ng-show="price.discount" class="fas fa-tag"></i>
                            </td>
                            <td>{{price.price | currency}}</td>
                            <td>
                                <span ng-show="price.discount">{{price.discount * 100 | number:0}}%</span>
                                <span ng-hide="price.discount">-</span>
                            </td>
                            <td>{{price.price2 | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <p ng-show="reqStatus || reqStatusText" class="alert alert-danger">
                    При загрузке данных произошла ошибка {{reqStatus}} {{reqStatusText}}
                </p>    
            </div>
        </div>
    </section>
    <section id="contacts" data-offset="44">
        <div class="container">
            <div class="lp-content">
                <h2>contacts</h2>
                <div class="row">
                    <div class="col-sm-6">                        
                        <div id="lp-map"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="lp-fb2">
                            <h2>Обратная связь</h2>
                            <h3>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</h3>
                            <input type="text" maxlength="50" data-label="Имя" placeholder="Ваше Имя..." />
                            <input type="tel" maxlength="50" data-label="Телефон" placeholder="Ваш Телефон..." required />
                            <input type="email" maxlength="50" data-label="Почта" placeholder="Ваш E-mail..." />
                            <textarea maxlength="500" data-label="Сообщение" placeholder="Сообщение..."></textarea>
                            <button>Написать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; Landing Page 2019 </p>
        </div>
    </footer>

    <div class="lp-modals">

        <div id="lp-srv1" class="lp-popup">
            <h2>Details Service 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex numquam ad deserunt maxime est impedit ut vitae delectus fuga similique harum nam, repellendus quasi minima. Eligendi mollitia dolores molestiae!</p>
        </div>
    
        <div id="lp-srv2" class="lp-popup">
            <h2>Details Service 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex numquam ad deserunt maxime est impedit ut vitae delectus fuga similique harum nam, repellendus quasi minima. Eligendi mollitia dolores molestiae!</p>
        </div>
    
        <div id="lp-srv3" class="lp-popup">
            <h2>Details Service 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex numquam ad deserunt maxime est impedit ut vitae delectus fuga similique harum nam, repellendus quasi minima. Eligendi mollitia dolores molestiae!</p>
        </div>
    
        <div id="lp-srv4" class="lp-popup">
            <h2>Details Service 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex numquam ad deserunt maxime est impedit ut vitae delectus fuga similique harum nam, repellendus quasi minima. Eligendi mollitia dolores molestiae!</p>
        </div>

        <div id="lp-fb1">
            <h2>Заказать консультацию</h2>
            <h3>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</h3>
            <input type="text" maxlength="50" data-label="Имя" placeholder="Ваше Имя..." />
            <input type="tel" maxlength="50" data-label="Телефон" placeholder="Ваш Телефон..." required />
            <button>Перезвоните мне</button>
        </div>
    
    </div>

</body>

</html>
