<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/owl.carousel.min.css">
    <link rel="stylesheet" href="style/magnific-popup.css">
    <link rel="stylesheet" href="style/wi-feedback.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/wi-feedback.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/app.js"></script>
    <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=jQuery.fn.lpMapInit" type="text/javascript"></script>
</head>

<body ng-app="lpApp">
    <header>
        <div class="container">
                <img class="header-logo" src="img/logo_with_shadow.png" alt="logo"> 
            <ul>
                <li><a href="#about">о нас</a></li>
                <li><a href="#services">наши услуги</a></li>
                <li><a href="#team">наша команда</a></li>                
                <li><a href="#portfolio">Портфолио</a></li>
                <li><a href="#prices">цены</a></li>
                <li><a href="#contacts">контакты</a></li>
            </ul>
        </div>
    </header>

    <section id="about">
        <div class="container">  
            <div class="row">         
                <div class="col-sm-6">      
                    <h1 class="header-title">Ремонт квартир в Минске</h1>
                    <img src="img/master-remont.png" alt="master">
                </div>
                <div class="col-sm-6">
                    <div class="header-form">
                        <div id="lp-fb2">
                            <div class="form-title">Закажите <span>бесплатный</span> замер</div>
                            <input type="text" maxlength="50" data-label="Имя" placeholder="Ваше Имя..." />
                            <input type="tel" maxlength="50" data-label="Телефон" placeholder="Ваш Телефон..." required />
                            <textarea maxlength="500" data-label="Сообщение" placeholder="Сообщение..."></textarea>
                            <button>Оставить заявку</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <section id="services" data-offset="44">
        <div class="container">
            <div class="lp-content">
                <h2>наши услуги</h2>
                <div class="lp-slider1 owl-carousel"><!--todo: change alt-->
                    <div class="slide">
                        <h4>Сантехнические работы</h4>
                        <img src="img/services/raboti_santehnicheskie.jpg" alt="service 1">
                    </div>
                    <div class="slide">
                        <h4>Штукатурные работы</h4>
                        <img src="img/services/raboti_shtykatyrnie.jpg" alt="service 1">
                    </div>
                    <div class="slide">
                        <h4>Укладка плитки</h4>
                        <img src="img/services/ykladka_plitki.jpg" alt="service 1">
                    </div>
                    <div class="slide">
                        <h4>Демонтажные работы</h4>
                        <img src="img/services/demontazhnie_raboti.jpg" alt="service 1">
                    </div>
                    <div class="slide">
                        <h4>Монтаж гипсокартона</h4>
                        <img src="img/services/montazh_gipsokartona.jpg" alt="service 1">
                    </div>
                    <div class="slide">
                        <h4>Электромонтажные работы</h4>
                        <img src="img/services/raboti_electromontazhnie.jpg" alt="service 1">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" ng-controller="lpTeamCtrl" data-offset="44">
        <div class="container">
            <div class="lp-content">
                <h2>наша команда</h2>
                <div class="row" ng-show="members">
                    <div class="col" ng-repeat="worker in members">
                        <img ng-src="{{worker.img}}" alt="">
                        <p>{{worker.name}}</p>
                        <p>{{worker.title}}</p>
                        <p>{{worker.experience}}</p>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <section id="portfolio" data-offset="44">
        <div class="container">
            <div class="lp-content">
                <h2>Портфолио</h2>
                <div class="lp-slider2 owl-carousel lp-gallery">
                    <div>
                        <a href="\img\projects\y.chechota-4\5.jpg">
                            <img src="\img\projects\y.chechota-4\5.jpg" alt="Service 1">
                        </a>
                        <p>Я. Чечота 4 - 97</p>
                    </div>
                    <div>
                        <a href="\img\projects\timoshenko-28-93\4.jpg">
                            <img src="\img\projects\timoshenko-28-93\4.jpg" alt="Service 1">
                        </a>
                        <p>Тимошенко 28</p>
                    </div>
                    <div>
                        <a href="\img\projects\dzerzhinskogo-15\10.jpg">
                            <img src="\img\projects\dzerzhinskogo-15\10.jpg" alt="Service 1">
                        </a>
                        <p>пр. Дзержинского 15</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="prices" ng-controller="lpPriceCtrl" data-offset="44">
        <div class="container">
            <div class="lp-content">
                <h2>цены</h2>
                <p ng-hide="prices || reqStatus || reqStatusText" class="lp-prices-loader">
                    <i class="fas fa-spinner"></i>
                </p>
                <table ng-show="prices" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th ng-click="sortSet('name')">
                                <span>Наименование</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'name'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'name' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'name' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price')">
                                <span>Цена</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('discount')">
                                <span>Скидка</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'discount'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'discount' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'discount' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price2')">
                                <span>Цена со скидкой</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price2'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price2' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price2' && sortRev"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="price in prices | orderBy:sortBy:sortRev">
                            <td>{{$index + 1}}</td>
                            <td>
                                <span>{{price.name}}</span>
                                <i ng-show="price.discount" class="fas fa-tag"></i>
                            </td>
                            <td>{{price.price | currency}}</td>
                            <td>
                                <span ng-show="price.discount">{{price.discount * 100 | number:0}}%</span>
                                <span ng-hide="price.discount">-</span>
                            </td>
                            <td>{{price.price2 | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <p ng-show="reqStatus || reqStatusText" class="alert alert-danger">
                    При загрузке данных произошла ошибка {{reqStatus}} {{reqStatusText}}
                </p>    
            </div>
        </div>
    </section>
    <section id="contacts" data-offset="44">
        <div class="container">
            <div class="lp-content">
                <h2>контакты</h2>
                <div class="row">
                    <div class="col-sm-6">                        
                        <div id="lp-map"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="lp-fb3">
                            <h2>Обратная связь</h2>
                            <h3>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</h3>
                            <input type="text" maxlength="50" data-label="Имя" placeholder="Ваше Имя..." />
                            <input type="tel" maxlength="50" data-label="Телефон" placeholder="Ваш Телефон..." required />
                            <input type="email" maxlength="50" data-label="Почта" placeholder="Ваш E-mail..." />
                            <textarea maxlength="500" data-label="Сообщение" placeholder="Сообщение..."></textarea>
                            <button>Написать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; Landing Page 2019 </p>
        </div>
    </footer>

    <div class="lp-modals">

        <div id="lp-srv1" class="lp-popup">
            <h2>Details Service 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex numquam ad deserunt maxime est impedit ut vitae delectus fuga similique harum nam, repellendus quasi minima. Eligendi mollitia dolores molestiae!</p>
        </div>
    
        <div id="lp-srv2" class="lp-popup">
            <h2>Details Service 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex numquam ad deserunt maxime est impedit ut vitae delectus fuga similique harum nam, repellendus quasi minima. Eligendi mollitia dolores molestiae!</p>
        </div>
    
        <div id="lp-srv3" class="lp-popup">
            <h2>Details Service 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex numquam ad deserunt maxime est impedit ut vitae delectus fuga similique harum nam, repellendus quasi minima. Eligendi mollitia dolores molestiae!</p>
        </div>
    
        <div id="lp-srv4" class="lp-popup">
            <h2>Details Service 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex numquam ad deserunt maxime est impedit ut vitae delectus fuga similique harum nam, repellendus quasi minima. Eligendi mollitia dolores molestiae!</p>
        </div>

        <div id="lp-fb1">
            <h2>Заказать консультацию</h2>
            <h3>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</h3>
            <input type="text" maxlength="50" data-label="Имя" placeholder="Ваше Имя..." />
            <input type="tel" maxlength="50" data-label="Телефон" placeholder="Ваш Телефон..." required />
            <button>Перезвоните мне</button>
        </div>
    
    </div>

</body>

</html>
